# Build outputs
**/bin/
**/obj/
**/out/
**/publish/

# IDE & OS
**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.suo
**/logs/

# Docker (avoid recursive context)
docker/nginx/ssl/*.key
docker/nginx/ssl/*.crt

# Git
.git/
.gitignore

# Docs & misc
*.md
!src/**/*.md
LICENSE
