## .NET
bin/
obj/
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.rsuser
*.user
!docker/Dockerfile.user

## Rider
.idea/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

## NuGet
*.nupkg
**/packages/*

## Logs
logs/
*.log

## OS
.DS_Store
Thumbs.db

## Docker
docker/volumes/

## Uploads
uploads/

## Environment
.env
